.containerDetail{
    width: 624px !important;
}
.retour_btn{
    float: right;
    padding: 3px 8px;
    margin-top: 6px;
    background: #000000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.boldS{
    font-weight: bold;
    margin-bottom: 15px;
}